{% extends '@!EasyAdmin/layout.html.twig' %}

{# Let\'s remove/empty the header #}
{% block content_header_wrapper %} {% endblock content_header_wrapper %}

{# The main page content block #}
{% block main %}
<div class="content-header-title" style="padding: 10px 0">
    <h1 class="title">
        Результат загрузки файла {{ file }}
    </h1>
</div>
<section id="main" class="content-body">
    <div class="content-panel">
        <div class="content-panel-body with-rounded-top with-min-h-250 without-padding ">
            <table class="table datagrid with-rounded-top ">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Название</td>
                    <td>Статус</td>
                </tr>
                </thead>
                <tbody>
                {%  for key, value in items %}
                    <tr>
                        <td>{{ value.id }}</td>
                        <td>{{value.name}}</td>
                        <td>{{value.status}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock main %}

{# Let\'s remove/empty the footer #}
{% block content_footer_wrapper %} {% endblock content_footer_wrapper %}